body {
	min-width: 960px;
	background-image: url("../images/candyhole.png");
	padding-bottom: 70px; 
}

nav {
	color: #ccc;
}


.navbar-brand {
	/*A little tired of the aqua color, so leaving it out.*/
	/*background-color: #4aaaa5;*/
	font-weight: : bold;
	font-size: 30px;
	color: #ccc;
}



p {
   font-size: 18px;
}
